.heading{
	text-align: center;
}

body{
	background:url("Img/Ocean1.jpg");
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body .container{
	margin: auto;
	margin-top: 0;
	margin-bottom: 0;
	height: 100%;
}

.container{
	background: linear-gradient(#A6D3E6, #E4C7C1);
	height: 100vh;
	width: 60%;
	border: 1px solid black;
	box-shadow: 2px 2px 5px 5px #7DA3AE;
	margin-top: 0;
	margin-bottom:0;
	padding-left: 20px;
	padding-bottom: 2%;
}

.container label{
	font-weight: bold;
	text-decoration: underline;
}

.SurveyReturn{
	color: white;
}