.heading{
	text-align: center;
}

body{
	background:url("Img/Ocean1.jpg");
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body .container{
	margin: auto;
	margin-top: 5vh;
}

.container{
	background: linear-gradient(#A6D3E6, #E4C7C1);
	height: 80vh;
	width: 80vh;
	border: 1px solid black;
	box-shadow: 2px 2px 5px 5px #7DA3AE;
}

.SurveyReturn{
	color: white;
}