.center{
	text-align: center;
}

/*Survey Css*/
.heading{
	text-align: center;
}

.SurveyBody{
	background: #f4f3ef;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;
}

body .container{
	margin: auto;
	margin-top: 0;
	margin-bottom: 0;
	height: 100%;
}

.container{
	background: white;
	height: 100vh;
	width: 60%;
	margin-top: 0;
	margin-bottom:0;
	padding-left: 20px;
	padding-bottom: 2%;
	-webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  box-shadow: 0 6px 10px -4px rgba(0, 0, 0, 0.15);
}

.container label{
	color: #51cbce;
	font-weight: bold;
}

.submitSurvey{
	background: #51cbce;
	text-align: center;
	border: none;
	font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;
	color: white;
	padding: 10px;
	padding-right: 20px;
	padding-left: 20px;
	border-radius: 30px;
	font-weight: bold;
	cursor: pointer;
}

.submitSurvey:hover{
	background: #46a4a7;
}

/*Journal Css*/

.JournalBody{
	background: #f4f3ef no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0;
  padding: 0;
}

textarea{
    top: 10px;
    bottom: 10px;
    left: 10px;
    right: 10px;
    width: 80%;
    resize: none;
    background: white;
    font-size: 1.65em;
    border: none;
    outline: 0px;
    -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  box-shadow: 0 6px 10px -4px rgba(0, 0, 0, 0.15);
  font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;
  padding-left: 10px;
  padding-right: 10px;
}

.alignText{
	margin-left: 50%;
	margin-top:2%;
}

.topBar{
	margin: 0;
    text-align: center;
    margin-left: 40%;
    color: black;
    font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;
}


/*Login CSS*/

.loginBody{
	background: url("Img/Login.jpg") no-repeat center center fixed;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: "Raleway",sans-serif;
}

.loginDiv{
	text-align: center;
}

.loginForm{
	background: white;
	margin: auto;
	text-align: left;
	width: 60vh;
	border-radius: 10px;
	height: 80vh;
}

.loginFormContent input{
	border: none;
	font-size: 3vh;
	margin: 10px;
	border-bottom: 1px solid #00a4e4;
	outline: none;
}

.loginFormContent input:focus{
	border-bottom: 1.5px solid #00a4e4;
}

.loginTitle{
	text-align: center;
	font-size: 5vh;
}

.loginFormContent{
	text-align: center;
}

.submitButton input{
	margin-top: 5vh;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 30px;
	padding-right: 30px;
	margin-bottom:20px;
	border-radius: 40px;
	cursor: pointer;
	background-color: #fefefe;
    background-image: linear-gradient(315deg, #fefefe 0%, #00a4e4 74%);
    border: none;
    outline: none;
}

.submitButton input:hover{
	box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}

.loginFormContent label{
	margin-top: 500px;
}

.loginBody a{
	text-decoration: none;
	font-size: 2vh;
	color: black;
}

.loginTitle h1{
	border-bottom: 1px solid #00a4e4;
	font-size: 5vh;
}

.loginFormContent label{
	font-size: 3vh;
}

/*Create Account CSS*/

.createBody{
	background: url("Img/CreateAccount.jpg") no-repeat center center fixed;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: "Raleway",sans-serif;

}

.createForm{
	background: white;
	margin: auto;
	text-align: left;
	width: 60vh;
	border-radius: 10px;
	height:90vh;
}