/*Survey Css*/
.heading{
	text-align: center;
}

.SurveyBody{
	background:url("Img/Ocean1.jpg");
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body .container{
	margin: auto;
	margin-top: 0;
	margin-bottom: 0;
	height: 100%;
}

.container{
	background: linear-gradient(#A6D3E6, #E4C7C1);
	height: 100vh;
	width: 60%;
	border: 1px solid black;
	box-shadow: 2px 2px 5px 5px #7DA3AE;
	margin-top: 0;
	margin-bottom:0;
	padding-left: 20px;
	padding-bottom: 2%;
}

.container label{
	font-weight: bold;
	text-decoration: underline;
}

/*Journal Css*/

.JournalBody{
	background: url(Img/Journal.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0;
  padding: 0;
}

textarea{
    top: 10px;
    bottom: 10px;
    left: 10px;
    right: 10px;
    width: 80%;
    resize: none;
    background: url(http://i.stack.imgur.com/ynxjD.png) repeat-y;
    font-size: 1.65em;
    border: none;
    outline: 0px;
}

.alignText{
	margin-left: 50%;
	margin-top:2%;
}

.topBar{
	margin: 0;
    text-align: center;
    margin-left: 40%;
    color: white;
}

.journalSubmit{
	margin-top: 5px;
	margin-bottom: 5px;
	background: none;
	color: white;
	border: 2px solid white;
	padding: 5px;
}

.journalSubmit:hover{
	background: white;
	cursor: pointer;
	border: 2px solid white;
	color: black;
}

/*Login CSS*/

.loginBody{
	background: url("Img/Login.jpg") no-repeat center center fixed;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: "Raleway",sans-serif;
}

.loginDiv{
	text-align: center;
}

.loginForm{
	background: white;
	margin: auto;
	text-align: left;
	width: 60vh;
	border-radius: 10px;
	height: 80vh;
}

.loginFormContent input{
	border: none;
	font-size: 3vh;
	margin: 10px;
	border-bottom: 1px solid #00a4e4;
	outline: none;
}

.loginFormContent input:focus{
	border-bottom: 1.5px solid #00a4e4;
}

.loginTitle{
	text-align: center;
	font-size: 5vh;
}

.loginFormContent{
	text-align: center;
}

.submitButton input{
	margin-top: 5vh;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 30px;
	padding-right: 30px;
	margin-bottom:20px;
	border-radius: 40px;
	cursor: pointer;
	background-color: #fefefe;
    background-image: linear-gradient(315deg, #fefefe 0%, #00a4e4 74%);
    border: none;
    outline: none;
}

.submitButton input:hover{
	box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}

.loginFormContent label{
	margin-top: 500px;
}

.loginBody a{
	text-decoration: none;
	font-size: 2vh;
	color: black;
}

.loginTitle h1{
	border-bottom: 1px solid #00a4e4;
	font-size: 5vh;
}

.loginFormContent label{
	font-size: 3vh;
}

/*Create Account CSS*/

.createBody{
	background: url("Img/CreateAccount.jpg") no-repeat center center fixed;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: "Raleway",sans-serif;

}

.createForm{
	background: white;
	margin: auto;
	text-align: left;
	width: 60vh;
	border-radius: 10px;
	height:90vh;
}